.container {
    border: 1px solid black;
    height: 210px;
    width: 210px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    // column-gap: 5px;
    // row-gap: 5px;
    .item {
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      .cross {
        height: 60px;
        width: 60px;
        &.winning {
          scale: 1.5;
          transition: scale 2s;
        }
      }
      .circle {
        height: 50px;
        width: 50px;
        &.winning {
          scale: 1.5;
          transition: scale 2s;
        }
      }
    }
  }
