.about {
  color: white;
  margin: 2rem;
  padding: 1rem;
  background-color: rgba(255,255,255, 0.1);
  border-radius: 5px;
  .resume {
    text-decoration: underline;
  }
  .tools {
    margin-top: 1.5rem;
    font-size: 0.75rem;
  }
}
