.instructions {
  padding-bottom: 0.5rem;
}

.playerNameDisplay {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .editButton {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.3rem;
  }

  .editPenImg {
    height: 1rem;
    width: auto;
  }
}

